:root{
    --bg-clr: #24353F;
    --main-clr: #17A2B8;
}
.box-shadow{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-clr);
}

.content{
    text-align: center;
    margin: 0 auto;
}
h1{
    color: var(--main-clr);
    font-weight: 500;
}
.container .content input{
    background-color: var(--bg-clr);
    color: #fff !important;
    caret-color: var(--main-clr);
}
.container .content p{
    color: #fff;
}
.container .content p a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.container .content p a:hover{
    text-decoration: underline;
}
.form-control::placeholder {
    color: #555; /* Example: Darker gray */
    font-style: italic; /* Optional: Adds italic styling */
}
/***   Home Page    ***/
nav{
    background-color: var(--bg-clr);
    color: #fff;
}
